form {
    background-color: #FFFDD0;
    border: px solid #000000;
    padding: 6px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);

}

form input,
form select,
form textarea {
    background-color: #FFFFFF;
    border: 10px solid #FFBF00;
    color: #000000;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 15px;
}



form button[type="submit"] {
    background-color: #FFBF00;
    color: #000000;
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

form button[type="submit"]:hover {
    background-color: #FF9900;
}