/* ************************** Styles généraux **************************************** */


@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    font-family: 'Inria Serif', serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}


/* ************************** Barre de navigation **************************************** */
.navbar {
    background-color: #D32F2F;
    padding: 16px 32px;
    transition: background-color 0.3s ease;
}
.navbar-brand,
.nav-link {
    color: #FFFDD0 !important;
}

.navbar-brand {
    font-weight: bold;
    font-size: 28px;
}

.navbar-brand-subtitle {
    font-size: 12px;
    font-weight: 200;
    color: #FFFDD0;
    text-align: center;
}
.navbar-brand:hover {
    color: #f0ad4e;
    transform: scale(1.05);
}

.navbar-brand:hover .navbar-brand-subtitle {
    color: #f0ad4e;
}
.navbar-toggler {
    border: none;
    background-color: #FFD700;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-toggler span.material-symbols-outlined {
    font-size: 32px;
    color: #4A4A4A;
}

.offcanvas {
    position: fixed;
    top: 0;
    right: 0;
    height: auto;
    width: 250px;
    max-height: 70%;
    transform: translateX(100%);
    background-color: #D32F2F;
    border-radius: 10px 0 0 10px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.4s ease-in-out;
    padding-top: 20px;
}

.offcanvas.show {
    transform: translateX(0);
}

.offcanvas-backdrop {
    display: none;
}

.offcanvas-header {
    border-bottom: 1px solid #FFFDD0;
    padding: 16px;
}

.btn-close {
    filter: invert(1);
}

.offcanvas-body {
    overflow-y: auto;
    max-height: 70%;
    padding: 16px;
}

.offcanvas-body .nav-link {
    color: #FFFDD0;
    font-size: 16px;
    margin-bottom: 16px;
}

.offcanvas-body .nav-link:hover {
    color: #FFD700;
}

.offcanvas-body {
    max-height: 80vh;
    overflow-y: scroll;
}

.offcanvas-body::-webkit-scrollbar {
    width: 8px;
}

.offcanvas-body::-webkit-scrollbar-thumb {
    background-color: #FFD700;
    border-radius: 5px;
}

.offcanvas-overlay {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    display: none;
}

.offcanvas.show + .offcanvas-overlay {
    display: block;
}

.nav-link {
    color: #FFFDD0;
    font-size: 16px;
    padding: 16px 24px;
    position: relative;
    transition: color 0.3s ease, border 0.3s ease;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link:hover {
    color: #FFD700;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.nav-link:hover::before {
    border-color: #FFD700;
    box-shadow: 0 0 15px #FFD700;
    transform: scale(1.1);
}

.offcanvas-body .nav-link {
    color: #FFFDD0;
    font-size: 16px;
    margin-bottom: 16px;
    position: relative;
    transition: color 0.3s ease, border 0.3s ease;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.offcanvas-body .nav-link:hover {
    color: #FFD700;
}

.offcanvas-body .nav-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.offcanvas-body .nav-link:hover::before {
    border-color: #FFD700;
    box-shadow: 0 0 15px #FFD700;
    transform: scale(1.1);
}


.navbar {
    background-color: #D32F2F;
    padding: 16px 32px;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: rgba(211, 47, 47, 0.541); 
}
.navbar.fixed-top {
    z-index: 1030;
}




/***************************  SECTION POUR LE CONTACT  *******************************/
.titre_contact_container {
    position: relative;
    margin-top: 80px;
    background-image: url('../css/images/M9.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.titre_contact_container h1 {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
}



.btn-secondary {
    background-color: #ff8400;
    border: none;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-secondary:hover {
    background-color: #eeff005d;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .titre_contact_container h1 {
        font-size: 40px;
    }


}

/************************************* POUR LA CARTE  ******************************/
#map{
    width: 80%;
    height: 400px;
    margin: 40px auto;
}


/*********************** SECTION POUR LES INFOS DE CONTACT ET TELEPHONE ***************/


.contact-section {
    text-align: center;
}

.contact-title {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: bold;
}

.contact-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact-item i {
    font-size: 48px;
    color: #ff8400;
    margin-bottom: 10px;
    border-radius: 10px;
}

.contact-item h5 {
    margin: 10px 0 5px;
    font-weight: bold;
}

.divider-horizontal {
    
    width: 80%;
    height: 2px;
    background-color: #ddd;
    margin-top: 20px;
    margin: 20px auto; 
}

.divider-vertical {
    border-left: 2px solid #ddd;
    height: auto;
}

.contact-row {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.contact-column {
    flex: 1;
    padding: 10px;
}

@media (max-width: 767px) {
    .divider-vertical {
        display: none;
    }

    .contact-row {
        flex-direction: column;
    }
}



/********************** FORMULAIRE DE CONTACT *********************/

.centered-text {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.form-control {
    margin: 0 auto;
}


.btn-contact  {
    background-color: #ff8400;
    border: none;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-contact:hover {
    background-color: #000000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


input.form-control,
textarea.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #BEC100;
    border-radius: 0;
}

img.img-fluid {
    margin-bottom: 100px;
}

























