/* ************************** Styles généraux **************************************** */


@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    font-family: 'Inria Serif', serif;
    background-color: #FFFDD0;
    color: #333;
    margin: 0;
    padding: 0;
}


/* ************************** Barre de navigation **************************************** */
.navbar {
    background-color: #D32F2F;
    /* Couleur solide au chargement */
    padding: 16px 32px;
    transition: background-color 0.3s ease;
    /* Transition pour l'effet de transparence */
}

.navbar.scrolled {
    background-color: rgba(211, 47, 47, 0.5);
    /* Transparence au défilement */
}

.navbar-brand,
.nav-link {
    color: #FFFDD0 !important;
}

.navbar-brand {
    font-weight: bold;
    font-size: 28px;
}

.navbar-brand-subtitle {
    font-size: 12px;
    font-weight: 200;
    color: #FFFDD0;
    text-align: center;
}

/* Liens de navigation alignés à droite */
.navbar-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-link {
    color: #FFFDD0;
    font-size: 16px;
    padding: 10px 15px;
    position: relative;
    transition: color 0.3s ease;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.nav-link:hover::before {
    border-color: #FFD700;
    box-shadow: 0 0 15px #FFD700;
    transform: scale(1.1);
}

.nav-link:hover {
    color: #FFD700;
}
.navbar-toggler {
    border: 1px solid #FFFDD0;
    background-color: #FFFDD0;
    padding: 8px;
    border-radius: 5px;
}

.navbar-toggler span.material-symbols-outlined {
    font-size: 32px;
    color: #4A4A4A;
}

.navbar-toggler:hover {
    background-color: #4A4A4A;
    border-color: #FFFDD0;
}

.navbar-toggler:hover span.material-symbols-outlined {
    color: #FFFDD0;
}

.navbar.fixed-top {
    z-index: 1030;
}



/***************************  SECTION POUR LE CONTACT  *******************************/
.titre_contact_container {
    position: relative;
    margin-top: 80px;
    background-image: url('../css/images/M9.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.titre_contact_container h1 {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
}



.btn-secondary {
    background-color: #ff8400;
    border: none;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-secondary:hover {
    background-color: #eeff005d;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .titre_contact_container h1 {
        font-size: 40px;
    }

   
}

/************************************* POUR LA CARTE  ******************************/
#map {
    width: 80%; 
    height: 400px;
    margin: 40px auto; 
}


/*********************** SECTION POUR LES INFOS DE CONTACT ET TELEPHONE ***************/


    .contact-section {
        text-align: center;
    }
    .contact-title {
        font-size: 32px; 
        margin-bottom: 30px;
        font-weight: bold;
    }
    .contact-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .contact-item i {
        font-size: 48px;
        color: orange;
        margin-bottom: 10px;
    }
    .contact-item h5 {
        margin: 10px 0 5px;
        font-weight: bold;
    }
    .divider-horizontal {
        width: 100%;
        height: 2px;
        background-color: #ddd;
        margin-top: 20px;
    }
    .divider-vertical {
        border-left: 2px solid #ddd;
        height: auto;
    }
    .contact-row {
        display: flex;
        justify-content: center;
        align-items: stretch;
    }
    .contact-column {
        flex: 1;
        padding: 10px;
    }
    @media (max-width: 767px) {
        .divider-vertical {
            display: none;
        }
        .contact-row {
            flex-direction: column;
        }
    }
    



